// Managed by Castellan - reject unauthenticated/insecure packages (6.6).
APT::Get::AllowUnauthenticated "false";
Acquire::AllowInsecureRepositories "false";
Acquire::AllowDowngradeToInsecureRepositories "false";
Unattended-Upgrade::AllowUnauthenticated "false";
